<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Change password</title>
    <%- include("../includes/head") %>
    <link rel="stylesheet" href="/styles/forms.css" />
    <link
      rel="canonical"
      href="http://occiris.com/change-password/<%= resetToken %>"
    />
    <script src="/scripts/auth/pwd-change-script.js" defer></script>
  </head>
  <body>
    <main class="auth-forms">
      <div>
        <a href="/">
          <img src="/images/occiris-logo.png" alt="occiris logo" />
        </a>
      </div>

      <h3 style="margin-bottom: 56px">Change password</h3>
      <p id="success-message" class="message"></p>
      <p id="warning-message" class="message"></p>
      <form id="password-change-form" data-token="<%= resetToken %> ">
        <input
          type="hidden"
          value="<%= locals.csrf %>"
          name="csrfToken"
          id="csrf-token"
        />
        <input
          type="password"
          id="new-password"
          name="new-password"
          placeholder="Create a new password"
        />
        <input
          type="password"
          id="confirm-password"
          name="confirm-password"
          placeholder="Repeat your password"
        />
        <button>Save password</button>
      </form>
      <a id="login-link" href="/login">Go to log in page</a>
    </main>
  </body>
</html>
