<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Change password</title>
    <%- include("../includes/head") %>
    <script src="/scripts/auth/forgot-pwd-script.js" defer></script>
    <link rel="stylesheet" href="/styles/forms.css" />
    <link rel="canonical" href="https://occiris.com/forgot-password" />
  </head>
  <body>
    <main class="auth-forms">
      <div>
        <a href="/">
          <img src="/images/occiris-logo.png" alt="occiris logo" />
        </a>
      </div>
      <p id="success-message" class="message"></p>
      <section id="form-section">
        <h4>Reset Password</h4>
        <p style="font-size: 0.8rem; text-align: center">
          Enter your email address so we can send you a link to reset your
          password
        </p>
        <form id="password-reset-form">
          <input
            type="hidden"
            name="csrfToken"
            value="<%- locals.csrf %>"
            id="csrf-token"
          />
          <label for="email-address">Email Address<span>*</span></label>
          <input
            type="email"
            name="email"
            id="email-address"
            placeholder="Enter your email"
            required
          />

          <button id="signup-btn">Send link</button>
        </form>
      </section>
    </main>
  </body>
</html>
