<header id="side-menu-header">
  <div>
    <a href="/">
      <img src="/images/occiris-logo.png" />
    </a>
  </div>
  <div href= ""class="hamburger-button" data-onstate="0">
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>
