<aside id="side-menu">
  <div id="side-menu-items">
    <p><a class="side-menu-link" href="/order/captions">Closed Captions</a></p>
    <p><a class="side-menu-link" href="/order/transcript">Transcription</a></p>
    <p><a class="side-menu-link" href="/how-we-started">How we started</a></p>
    <p><a class="side-menu-link" href="/our-philosophy">Our Philosophy</a></p>
    <p><a class="side-menu-link" href="/contact-sales">Contact Sales</a></p>
    <p><a class="side-menu-link" href="/login" id="log-in-button">Log In</a></p>
  </div>
</aside>
