<section>
  <h3 class="section-title">
    How closed captions help your YouTube channel grow
  </h3>
</section>
<section class="flex-text-and-image">
  <div>
    <img src="/images/SEO.png" alt="Browser window with search bar" />
  </div>
  <div class="flex-text-and-image-text">
    <div>
      <h2>SEO</h2>
      <p>
        YouTube indexes keywords from closed captions. This makes your videos
        rank higher on relevant keywords.
      </p>
    </div>
    <div>
      <p><a class="order-button" href="/order/captions">Order captions &gt</a></p>
    </div>
  </div>
</section>
<!-- How captions get your channel to grow section Item 2 -->
<section id="accessibility-card" class="flex-text-and-image">
  <div class="flex-text-and-image-text">
    <div>
      <h2>Accessibility</h2>
      <p>
        Reach audiences in the hard-of-hearing community by adding closed
        captions. Closed captions make your videos accessible to the 1.6 billion
        people in the world living with hearing loss.
      </p>
    </div>
    <div>
      <p>
        <a class="order-button" href="/order/captions">Order captions &gt</a>
      </p>
    </div>
  </div>
  <div>
    <img src="/images/Accessibility.png" alt="Boy with hearing aid in classroom, raising his hand" />
  </div>
</section>
<!-- How captions get your channel to grow section Item 3 -->
<section class="flex-text-and-image">
  <div>
    <img src="images/Auto-translate.jpg" alt="auto-translate option on YouTube player" />
  </div>
  <div class="flex-text-and-image-text">
    <div>
      <h2>Diversity</h2>
      <p>
        Viewers can translate your English closed captions to over 100 languages
        right on the YouTube player.
        <!-- <span style="display: inline;"><a class="order-button" href="/guides/auto-translate-captions-viewing">Learn how ></a></span> -->
      </p>
    </div>
    <div>
      <p>
        <a class="order-button" href="/order/captions">Order captions &gt</a>
      </p>
    </div>
  </div>
</section>
