<section class="hero">
  <div id="item-1">
    <h1>Give your videos and viewers some love!</h1>
    <p>
      Make your videos SEO-friendly, get discovered, appeal to non-native
      English speakers and make your videos accessible, all with our
      highly-accurate closed captions!
    </p>
  </div>
  <div>
    <img src="/images/Reach.png" alt="Grow your channel" />
  </div>
</section>
