<section class="service-cards">
  <div class="individual-service-cards">
    <h5>English Closed Captions</h5>
    <p>Fast fulfilment & phenomenal fidelity!</p>
    <h4>$1.00 / minute</h4>
    <a id="order-captions-button" class="card-order-button" href="/order/captions">Order &gt</a>
  </div>
  <div class="individual-service-cards">
    <h5>English Transcripts</h5>
    <p>Terrific transcripts & timely turnaround!</p>
    <h4>$1.00 / minute</h4>
    <a class="card-order-button" href="/order/transcript">Order &gt</a>
  </div>
  <div class="individual-service-cards">
    <h5>Both Captions & Transcripts</h5>
    <p>Best of both at a bargain!</p>
    <h4>$1.50 / minute</h4>
    <a class="card-order-button" href="/order/both">Order &gt</a>
  </div>
</section>