<section class="flex-statistics">
    <div>
      <h2>100,000+</h2>
      <p>minutes captioned</p>
    </div>
    <div>
      <h2>100,000+</h2>
      <p>minutes transcribed</p>
    </div>
    <div>
      <h2>100+</h2>
      <p>happy customers</p>
    </div>
  </section>