<section>
    <h3 class="section-title">How transcriptions help</h3>
  </section>
  <section class="flex-text-and-image">
    <div>
      <img src="/images/transcript.jpg" alt="stuff" />
    </div>
    <div class="flex-text-and-image-text">
      <h2>Get your content to serve multiple purposes</h2>
      <p>
        Quickly turn your podcast or video into a blog post for your site.
        Great for SEO!
      </p>
      <div>
        <p>
          <a class="order-button" href="/order/transcript"
            >Order English transcripts &gt</a
          >
        </p>
      </div>
    </div>
  </section>