.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 80px auto;
}

main::before {
  content: " ";
  display: block;
  background-color: #308381;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 1300px;
  z-index: 0;
}

#heading {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
}

form {
  width: 70%;
  margin: 0 auto;
  padding: 32px;
  border-radius: 16px;
  background-color: #fff;
  z-index: 2;
}

label span {
  color: #e52626;
}

footer {
  z-index: 3;
}

#flex-container {
  display: flex;
  justify-content: space-between;
  margin: 16px auto;
  align-items: center;
}

@media (max-width: 847px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .grid-container::before {
    display: none;
  }

  #heading {
    z-index: 2;
    width: 82%;
    margin-bottom: 56px;
    padding: 8px 24px;
    border-radius: 8px;
  }

  form {
    position: relative;
    top: 0;
    left: 0;
    width: 94%;
  }

  footer {
    z-index: 2;
  }
}