<div id="checkout-card">
  <h5>Order Summary</h5>
  <div id="flex-container">
    <p id="total-items">0 items:</p>
    <h5 id="total-cost">$0.00</h5>
  </div>
  <a id="checkout-button" href="/checkout">Proceed to checkout</a>
</div>
