<li id="order-item-empty-state">
  <h5 class="video-title">Video Title</h5>
  <div class="container">
    <p class="title">Duration:</p>
    <p id="video-duration">Video Duration</p>
  </div>
  <div class="container">
    <p class="title">Estimated delivery time:</p>
    <p>ETA</p>
  </div>
  <div class="container cost-container">
    <p class="title">Cost</p>
    <p id="item-cost">Total</p>
  </div>
</li>
