<li id="cart-item-template" class="order-item" style="display: none">
  <div class="title-and-remove">
    <h5 style="width: 100%;">
      <span class="video-title">video name</span>
      <span class="order-type message info">order type</span>
    </h5>
    <%- include("../../svgs/trash-can") %>
  </div>
  <div class="container">
    <p class="title">Duration:</p>
    <p class="video-duration">0:00:00</p>
  </div>
  <div class="container">
    <p class="title">Estimated delivery time:</p>
    <p class="eta">2 days</p>
  </div>
  <div class="container cost-container">
    <p class="title">Cost</p>
    <p>$<span class="item-cost">0.00</span></p>
  </div>
</li>
