<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Order Received</title>
    <style>
      #body-inner-container {
        background-color: #fff;
        padding: 0 8px 8px 8px;
        border-radius: 8px;
      }
      body {
        font-family: "Roboto", sans-serif;
        width: 50%;
        margin: 0 auto 28px auto;
        text-align: center;
      }
      h1 {
        font-weight: 500;
        text-align: center;
      }
      #header {
        width: 95%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
      }
      #header img{
        text-align: left;
        width: 20%;
      }
      img {
        margin: 24px auto;
      }
      main {
        width: 100%;
        margin: 8px auto;
        background-color: #fff;
        text-align: center;
      }
      #title-section {
        margin: 64px auto;
      }

      #title-section img {
        width: 20%;
      }
      h3,
      .paragraph-gray {
        color: rgb(125, 125, 125);
        font-size: 15px;
      }
      p {
        text-align: center;
      }
      th {
        padding: 8px 8px;
        font-weight: 400;
        margin: 12px 0;
      }
      td {
        padding: 8px 8px;
        border-bottom: 2px solid rgb(175, 175, 175);
      }
      #footer {
        margin: 12px auto 0 auto;
        font-size: 12px;
        background-color: #1c2423;
        padding: 8px;
        color: #fff;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="body-inner-container">
      <div id="header" style="text-align: center;">
        <img
          src="https://storage.googleapis.com/occiris/oCCiris%20logo-2.png"
          alt="Occiris logo"      
        />
      </div>
      <main>
        <section id="title-section">
          <h1>Hi! Glad you found us.</h1>
          <p style="text-align: left;" class="paragraph-gray">
            We're excited to collaborate with you in making your content accessible. You can reply to this email if you have any questions.
          </p>
          <p class="paragraph-gray" style="text-align: left;">
            Best, The Occiris Team.
          </p>
        </section>
      </main>
      <div id="footer">
        <p>Copyright &#169;2024 Occiris, All rights reserved.</p>
        <p>
          <strong>Email us: </strong>support@occiris.com
        </p>
      </div>
    </div>
  </body>
</html>
